VITE_LINKEDIN_URL=your_linkedin_url
VITE_GITHUB_URL=your_github_url
VITE_FACEBOOK_URL=your_facebook_url
VITE_TWITTER_URL=your_twitter_url
VITE_INSTAGRAM_URL=your_instagram_url
VITE_YOUTUBE_URL=your_youtube_url